<div class="row">
    <h1> Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Secundario </h1> - <h3>(1993/1998)</h3>
            </li>
            <p> Perito mercantil con orientacion en administracion y comercio exterior.</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Manuel Belgrano</h1> - <h3>(2001/2004)</h3>
            </li>
            <p> Técnico Superior en diseño gráfico y publicitario</p>
        </ul>
        <ul>
            <li>
                <h1> Argentina Programa</h1> - <h3>(2021/2022)</h3>
            </li>
            <p> Programador Full stack</p>
        </ul>
    </div>


</div>

