<div class="row">
    <h1> Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Grafica Viamonte</h1> - <h3>(2007/2018)</h3>
            </li>
            <p> Tareas de diseño grafico, piezas publicitarias, atención personalizada.</p>
        </ul>
        <ul>
            <li>
                <h1> Red Mercosur</h1> - <h3>(2005/2006)</h3>
            </li>
            <p> Venta al publico, promoción y ventas</p>
        </ul>
        <ul>
            <li>
                <h1> Clases particulares</h1> - <h3>(2001/2004)</h3>
            </li>
            <p> clases particulares a alumnos de primaria y secundaria.</p>
        </ul>
    </div>


</div>
