.row{
    padding: 20px;
}
div{
    background-color:#ff97d7 ;
    text-align: center;
}
/*foto de perfil*/
@media (min-width:576px) {
    #fotodeperfil{
    
    border-radius: 100%; 
    box-shadow: 3% 35 3% rgb(252, 109, 156) ; 
    }

    .descripcion{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width:575px) {
        #fotodeperfil{
        position: absolute; 
        width: 30%; 
        border-radius: 100%; 
        box-shadow: 3% 35 3% rgb(252, 109, 156) ; 
        left: 33%;
        top: 950px;
        }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
}